/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #ffffff;
    text-align: center;
}

/* Hero section */
.hero-section {
    background: linear-gradient(to right, rgba(139, 137, 137, 0.5), rgba(65, 64, 64, 0.5)), 
        url('Kwain.png') center/cover no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

.hero-section::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    z-index: 2;
}

.hero-content {
    position: relative;
    z-index: 3;
    padding: 20px;
    border-radius: 10px;
    align-content: center;
    
}

.hero-content h1 {
    font-size: 4rem;
    margin-bottom: 10px;
    background: linear-gradient(to right, white, rgb(0, 102, 255)); /* Add white/blue colour gradient */
    -webkit-background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero-content p {
    font-size: 2rem;
}

.hero-content ul {
    list-style-type: none; /* Removes bullet points */
}

.hero-content ul li {
    font-size: 1.5rem;
    margin: 10px 0; /* Adds vertical spacing */
}

/* START HERO STYLING */
#mtg-card {
    border-radius: 15px; /* Adjust the radius value to control the amount of rounding */
}

body {
    font-family: 'Roboto', sans-serif;
}
main {
    background-color: #1f2937;
    color: #f9faf8;
    padding: 75px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#subtitle {
    margin-top: 20px;
}

.hero-info {
    width: 700px;
    gap: 20px;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    margin: 0;
}

main p {
    font-size: 18px;
    color: #e5e7ebe3;
    font-weight: 300;
}

main button {
    background-color: #3882f6;
    color: #f9faf8;
    border: none;
    padding: 5px 20px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 9px;
}
/* END HERO STYLING */



/* START QUOTE STYLING */
.quote-container {
    display: flex;
    background-color: rgb(179, 206, 234);
    justify-content: center;
    padding: 50px;
}

blockquote {
    width: 800px;
    color: #ffffff;
}

blockquote p {
    font-size: 36px;
    font-weight: 250;
    font-style: italic;
}

.author {
    display: block;
    text-align: right;
    font-size: 28px;
    font-weight: 700;
}
/* END QUOTE STYLING */


.main-content {
    background: linear-gradient(to right, rgba(139, 137, 137, 0.5), rgba(65, 64, 64, 0.5)), 
        url('will-scion-of-peace.jpg') center/cover no-repeat;
    display: flex;
    max-width: 800px;
    margin: 20px auto;
    background-color: rgba(14, 104, 171);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-section {
    margin-bottom: 20px;
}

.card {
    background-color: rgb(179, 206, 234);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.card p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 10px;
}

.card ul {
    list-style-type: disc;
    margin-left: 20px;
}

.card ul li {
    font-size: 1rem;
    margin-bottom: 5px;
}

.footer-section {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
}

.footer-content {
    max-width: 800px;
    margin: 0 auto;
}

.footer-content p {
    font-size: 0.9rem;
}